<MudContainer MaxWidth="MaxWidth.Large" Class="my-16">
    <MudText Typo="Typo.h4" Align="Align.Center" GutterBottom="true" Class="mb-8">Experiências</MudText>
    <MudGrid Spacing="4" Justify="Justify.Center">
        @foreach (var task in Tasks)
        {
            <MudItem xs="12" md="6">
                <MudPaper Elevation="0" Class="pa-4 d-flex">
                    <MudText Typo="Typo.h1" Style="font-size: 6rem; color: #e0e0e0; margin-right: 16px; line-height:1;">@task.Number</MudText>
                    <div>
                        <MudText Typo="Typo.h6">@task.Title</MudText>
                        <MudText Typo="Typo.body2">@task.Description</MudText>
                    </div>
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
</MudContainer>

@code {
    [Parameter]
    public List<TaskItem> Tasks { get; set; } = new List<TaskItem>
    {
        new TaskItem { Number = 1, Title = "Solução", Description = "Краткое описание первой основной задачи, которая должна быть выполнена."},
        new TaskItem { Number = 2, Title = "Arquitetura", Description = "Краткое описание второй основной задачи для достижения целей проекта."},
        new TaskItem { Number = 3, Title = "Arquitetura", Description = "Краткое описание второй основной задачи для достижения целей проекта."}

    };
}