<section id="servicos">
    <MudPaper Class="section-paper">
        <MudText Typo="Typo.h4">Serviços</MudText>

        <MudGrid Class="mt-4" GutterSpacing="2">
            <MudItem xs="12" sm="6" md="4">
                <MudCard Class="bg-dark text-white">
                    <MudCardMedia Image="images/web-development.jpg" Height="200" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">Desenvolvimento Web</MudText>
                        <MudText Typo="Typo.body2">Aplicações modernas para web utilizando Angular, React e Blazor.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Warning">Saiba Mais</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>

            <MudItem xs="12" sm="6" md="4">
                <MudCard Class="bg-dark text-white">
                    <MudCardMedia Image="images/mobile-development.jpg" Height="200" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">Aplicativos Mobile</MudText>
                        <MudText Typo="Typo.body2">Desenvolvimento de apps nativos e híbridos para Android e iOS.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Warning">Saiba Mais</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>

            <MudItem xs="12" sm="6" md="4">
                <MudCard Class="bg-dark text-white">
                    <MudCardMedia Image="images/rpa.jpg" Height="200" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">Automação RPA</MudText>
                        <MudText Typo="Typo.body2">Automatização de processos repetitivos com robôs de software.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Warning">Saiba Mais</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>

        </MudGrid>
    </MudPaper>
</section>
