<section id="sobre">
    <MudPaper Class="section-paper">
        <MudText Typo="Typo.h4">Sobre Nós</MudText>
        <p>
            Somos uma empresa do regime Simples Nacional, mas com uma visão ampla e inovadora no desenvolvimento tecnológico. Com vasta experiência em projetos complexos, entregamos soluções de alta qualidade para web, desktop e mobile, sempre focados em eficiência e escalabilidade.
        </p>
        <p>
            Atuamos com as melhores práticas do mercado, como DDD (Domain-Driven Design), SOLID e Clean Architecture, garantindo a sustentabilidade e a evolução dos projetos ao longo do tempo.
        </p>
    </MudPaper>
</section>