body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #001F3F;
    padding: 1rem;
    text-align: center;
}

    header a {
        color: white;
        text-decoration: none;
        margin: 0 1rem;
        font-weight: bold;
    }

section {
    padding: 4rem 2rem;
    text-align: center;
}

footer {
    background: #001F3F;
    color: white;
    padding: 1rem;
    text-align: center;
}