<div class="input__container">
    <div class="shadow__input"></div>
    <button type="button" class="input__button__shadow">
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             width="20px" height="20px">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4
                     1.79-4 4 1.79 4 4 4zm0 2c-2.67
                     0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
        </svg>
    </button>
    <input type="@Type"
           class="input__search"
           placeholder="@Placeholder"
           @bind="Value"
           @attributes="AdditionalAttributes" />
</div>

@code {
    [Parameter] public string Placeholder { get; set; } = string.Empty;
    [Parameter] public string Type { get; set; } = "text";
    [Parameter] public string Value { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private async Task OnValueChanged(ChangeEventArgs e)
    {
        Value = e.Value?.ToString() ?? "";
        await ValueChanged.InvokeAsync(Value);
    }
}
