.project-card {
    transition: transform 0.3s ease;
}

    .project-card:hover {
        transform: translateY(-8px);
    }

.bg-primary-lighten {
    background-color: rgba(var(--mud-palette-primary-rgb), 0.12);
}
