@inject ProjectsViewModel ViewModel

<section>
    <h2>Projetos</h2>
    <div class="projects-section">
        @foreach (var project in ViewModel.Projects)
        {
            <CardProject Title="@project.Title" Description="@project.Description" />
        }
    </div>
</section>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ViewModel.LoadProjectsAsync();
    }
}