@inject ContactViewModel ViewModel

<del class="contact-section">
    <form @onsubmit="HandleSubmit">

        <InputCyber Placeholder="Nome" @bind-Value="ViewModel.Form.Name" />
        
        <InputDefault Placeholder="Email" @bind-Value="ViewModel.Form.Email" Type="email" />

        <InputTextAreaDefault Placeholder="Mensagem" @bind-Value="ViewModel.Form.Message" />

        <InputCyberFile OnFileSelected="HandleFileSelected" />

        <ButtonAnimationPrimary Label="Enviar" OnClick="@HandleSubmit" />

    </form>
</del>


@code {
    private IBrowserFile? uploadedFile;

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;

        if (file.ContentType != "application/pdf")
        {
            return;
        }

        uploadedFile = file;

        using var stream = new MemoryStream();
        await file.OpenReadStream().CopyToAsync(stream);
        ViewModel.Form.FileBytes = stream.ToArray();
        ViewModel.Form.FileName = file.Name;
    }

    private async Task HandleSubmit()
    {
        await ViewModel.SendAsync();
    }
}
