@inject ContactViewModel ViewModel

<form @onsubmit="HandleSubmit">
    <InputText @bind-Value="ViewModel.Form.Name" placeholder="Nome" />
    <InputText @bind-Value="ViewModel.Form.Email" placeholder="Email" />
    <textarea @bind="ViewModel.Form.Message" placeholder="Mensagem"></textarea>
    <ButtonPrimary OnClick="HandleSubmit">Enviar</ButtonPrimary>
</form>

@code {
    private async Task HandleSubmit()
    {
        await ViewModel.SendAsync();
    }
}
